<div class="nav-element">



<nav class="navbar">
    <!-- Left side: Logo and menu toggle button -->
    <div class="navbar-left">
      <button class="left-nav-toggle" (click)="toggleSidebar()" aria-label="Toggle navigation menu">
        &#9776;
      </button>
      <a routerLink="/" class="navbar-logo">
        <img class="logo_img" src="assets/Logo.jpeg" alt="Your Logo">
        </a> <!-- Company Logo -->
    </div>
  
    <!-- Right side: Profile and Cloud buttons -->
    <div class="navbar-right">
      <!-- Cloud buttons -->
      <button class="cloud-btn" (click)="gotoazure()"><img src="assets/aws_logo.png" alt="AWS" class="aws" ></button>
      <button class="cloud-btn"><img src="assets/azure_logo.png" alt="AZURE" class="azure"></button>
      <button class="cloud-btn"><img src="assets/Google_logo.png" alt="GOOGLE" class="google"></button>
  
      <!-- Profile Dropdown -->
      <div class="profile-dropdown">
        <button class="profile-btn">Profile</button>
        <div class="dropdown-content">
          <a (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </nav>
  
  <!-- Sidebar for navigation links -->
  <aside class="sidebar" [class.open]="sidebarOpen">
    <ul>
      <li><a routerLink="/usage-details">Usage Details</a></li>
      <li><a routerLink="/configuration">Configuration</a></li>
    </ul>
  </aside>
</div>