<div class="nav-element">
  <nav class="navbar">
    <!-- Left side: Logo and menu toggle button -->
    <div class="navbar-left">

      <a routerLink="/" class="navbar-logo">
        <img class="logo_img" src="assets/logo.png" alt="Your Logo">
      </a>
    </div>

    <!-- Right side: Profile and Cloud buttons -->
    <div class="navbar-right">
      <!-- Cloud buttons -->
      <button class="cloud-btn" (click)="gotoazure()">
        <img src="assets/aws_logo.png" alt="AWS" class="aws">
      </button>
      <button class="cloud-btn">
        <img src="assets/azure_logo.png" alt="AZURE" class="azure">
      </button>
      <button class="cloud-btn">
        <img src="assets/Google_logo.png" alt="GOOGLE" class="google">
      </button>

      <!-- Profile Dropdown -->
      <div class="profile-dropdown">
        <button class="profile-btn">Profile</button>
        <div class="dropdown-content">
          <a (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </nav>

  <aside class="sidebar">
    <ul>
      <button class="sidebar-btn" [class.active]="isUsageActive" (click)="toggleButton('usage')">
        Usage Details
      </button>
      
      <button class="sidebar-btn" [class.active]="isConfigActive" (click)="toggleButton('config')">
        Configuration
      </button>
    </ul>
  </aside>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Your main content goes here -->
  </div>
</div>
