
<div mat-dialog-content>
    <p></p>
  <div class="share">
<p> Share </p>
    <button (click)="sendEmail()" mat-button><img src="assets/mail_icon.png" alt="Email"></button>
  </div>
  <hr>

<div class="'download">

    <p>Download</p>
    <button (click)="downloadcsv()" mat-button><img src="assets/csv_icon.png" alt="csv"> </button>
    <button mat-button><img src="assets/excel_icon.png" alt="excel">  </button>
    <button (click)="downloadpdf()"  mat-button><img src="assets/pdf_icon.png" alt="pdf"></button>
  
</div>

</div>